<ion-toolbar>
  <ion-buttons slot="start">
    <ion-button (click)="dismiss()">
      <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-buttons slot="primary">
    <ion-button (click)="viewMap()">
      View Map
    </ion-button>
  </ion-buttons>
  
</ion-toolbar>

<ion-content >
  <!-- (ionChange)="searchNow()" -->
  <!-- <ion-searchbar
    searchIcon="pin"
    [formControl]="searchControl"
    (ionChange)="onSearchInput()"
    placeholder="Enter pick-up location"></ion-searchbar> -->

  <!-- select location via geolocation -->

  <ion-list expand="block" >
      <ion-item lines="none"> 
          <ion-icon name="pin" slot="start" color="danger" ></ion-icon>
        <ion-input class="searchInput"
        type="search"
        placeholder="Where to dispose waste" 
        autocomplete="off"
        autocapitalize="off"
        autofocus
        #search
        (keyup)="onSearch(search.value)"></ion-input> 
        <!-- <p>{{ searchTerm }}</p> -->
      </ion-item>
    <ion-item (click)="useCurrentLocation()">
      <ion-icon name="locate" slot="start"></ion-icon>
      <ion-label>
        <ion-text>
          <strong>Use Current Location</strong>
        </ion-text>
        <p>address</p>
      </ion-label>
    </ion-item>
    
    
  </ion-list >

  <!-- show list here -->
  <br>
  <ion-list class="searchR"> 

    <ion-item-divider *ngFor="let result of results$ | async; let i = index"> 
      {{result.description}} 
      <ion-button fill="clear" (click)='sel_location(result.description)'><ion-icon name="add-circle-outline"></ion-icon></ion-button>
    </ion-item-divider>
  </ion-list>


</ion-content>