.SignInPage {
  height: 100%;
  width: 100%;
  display: flex;
}

.SignInPage-container {
  margin: 0 auto;
  max-width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.SignInPage-logo-container {
  text-align: center;
  transform: scale(.5);
  margin: -36px;
}

.SignInPage-logo { }

.SignInPage-form { }

.validation-errors {
  font-size: 12px;
  height: 16px;
  padding-top: 2px;
  padding-left: 16px;
}

.SignInPage-divider {
  font-size: 12px;
  text-align: center;
}

.SignInPage-form > ion-button[type='submit'],
.SignInPage-authOptions-container > ion-button {
  margin: 16px 0;
}

.SignInPage-otherCTA {
  text-align: center;
}
